
Debug/

.vs/

*.sln

*.vcxproj

*.vcxproj.filters

*.vcxproj.user
*.pdf

*.docx

*.png

*.jpg

*.txt
Отчеты/

thirdLab/ABCgraphColorize/ABCgraphColorize/Release/

thirdLab/ABCgraphColorize/Release/

fourthLab/GeneticTSP/GeneticTSP/Release/

*.pdb

*.exe

firtsLab/Search/Search/Release/
